<!-- Scripts -->
<!-- <script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js" defer></script> -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"r></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
<!-- Css -->
<link rel="preload" href="{{ "/assets/css/main.css " | prepend: site.baseurl }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
