---
layout: default
head:
  - jquery.html
  - snipcart.html
---
<body>
   <div class="product-details">
      <center><img src="{{ page.image }}" alt="{{ page.name }}" class="thumbnail"/></center>
      <center>
         <div class="product-description">
            <h1>{{ page.name }}</h1>
            <p>
               {{ page.content }}
            </p>
            <button class="snipcart-add-item"
               data-item-name="{{ page.name }}"
               data-item-id="{{ page.sku }}"
               data-item-image="{{ page.image }}"
               data-item-url="{{ site.baseurl }}"
               data-item-price="{{ page.price }}">
            Buy it for {{ page.price }} $
            </button>
         </div>
   </div>
   </center> <br />
   {% include disqus.html %}
</body>
